.video-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.video-description {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
    margin-top: 1rem;
}

.home-icon {
    color: #D4AF37;
    text-decoration: none;
    font-size: 1.2rem;
}

.video-curso-container {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin-bottom: 2rem;
}